body{
    height: 100vh;
}

.container-fluid{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #acfafa60;
}

.btn{
    margin-bottom: 25px;
    width: 40px;
    margin-left: 5px;

}

#texto{
    border-radius: 10px;
    height: 55px;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
}

.color{
    background-color: #8b8b8b;
}

#limpiar{
    width: 200px;
    margin-left: 20px;
}

.card{
    margin-top: 100px;
    background-image: url(../img/fondo.gif);
    height: 50px;
}

.card-body{
    display: flex;
    height: 260px;
}

.card-text{
    display: flex;
    flex-direction: column;
    height: 30px;
}